html, body, main {
  height: 100%;
  background-color: #c4c4c4; 
}

h1,h2,h3 {
  font-family: 'Montserrat', sans-serif;
}

p, .lead {
  font-family: 'Open Sans', sans-serif;
}


.jumbotron {
  padding-top: 150px;
  padding-bottom: 150px;
  margin-bottom: 0;
}

.center {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.photo-cover {
  background: #15202b url('assets/ai.webp') no-repeat center center / cover fixed;
  background-size: cover;
  height: 100%;
  position: relative;
}

.background-primary {
  background: #0d1d2e;
}

.large {
  font-size: 3em;
}

.navbar-inverse {
  transition: all 0.2s ease-in;
}

.profile-img {
  width: 18em; 
  height: 18em; 
  border-radius: 50%; 
  object-fit: cover; 
  border: 2px solid #fffafa; 
  margin-bottom: 4em;
}


.carousel .item {
  text-align: center;
  padding: 2em;
  background-color: #c4c4c4;
  border-radius: 0,5em;
}

.carousel-control {
  color: #102336;
}


.thumbnail {
  position: relative;
  display: inline-block;
  margin-bottom: 30px;
}

.thumbnail:hover .thumbnail-overlay {
  opacity: 1;
  transition: all 0.2s ease-in;
}

.up, .down {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  gap: 2em; 
  margin-bottom: 2em;
}

.card1, .card2, .card3, .card4 {
  width: 7em;
  height: 7em;
  outline: none;
  border: none;
  background: white;
  border-radius: 50%;
  box-shadow: rgba(50, 50, 93, 0.25) 0em 0.2em 0.5em -0.1em, rgba(0, 0, 0, 0.3) 0em 0.1em 0.3em -0.1em;
  display: flex;
  justify-content: center;
  align-items: center;
  transition: 0.2s ease-in-out;
  cursor: pointer;
  margin: 0 1em; 
  margin-top: 2em;
}


.whatsapp {
  fill: #00ff00;
}

.linkedin {
  fill: #0077b5;
}

.github {
  fill: black;
}

.discord {
  fill: #8c9eff;
}

.card1:hover {
  background-color: #00ff00;
}

.card1:hover .whatsapp {
  fill: #0d1d2e;
}

.card2:hover {
  background-color: #0077b5;
}

.card2:hover .linkedin {
  fill: #0d1d2e;
}

.card3:hover {
  background-color: black;
}

.card3:hover .github {
  fill: #0d1d2e;
}

.card4:hover {
  background-color: #8c9eff;
}

.card4:hover .discord {
  fill: #0d1d2e;
}

.whatsapp, .linkedin, .github, .discord {
  width: 32px;  
  height: 32px;
}

footer {
  background-color: #0d1d2e;
  color: white;
  text-align: center;
  padding: 1em;
  width: 100%;
  position: relative;
  bottom: 0;
  margin-top: auto;
}
