
html, body {
    height: 100%;
    margin: 0;
    padding: 0;
    font-size: 1em; 
}

body {
    display: flex;
    flex-direction: column;
    min-height: 100vh;
}

.container {
    flex-grow: 1; 
}

footer {
    background-color: #343a40;
    color: white;
    text-align: center;
    padding: 1em;
    width: 100%;
    position: relative;
    bottom: 0;
    margin-top: auto; 
}

.main-image {
    max-height: 25em;
    width: 100%;
    object-fit: cover;
    border-radius: 2em;
}

.carousel-item {
    padding: 2em; 
    text-align: center;
    background-color: #f8f9fa;
    border-radius: 1em;
}

.carousel-container {
    margin-bottom: 2em; 
}


.carousel-control-prev, .carousel-control-next {
    background-color: rgba(238, 235, 235, 0.8);
    width: 3em; 
    height: 3em;
    border-radius: 50%;
}


.profile-img {
    width: 2.5em; 
    height: 2.5em;
    border-radius: 50%; 
    object-fit: cover; 
}

.navbar-brand {
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
}

.redes-sociales h3 {
    margin-bottom: 1.5em;
    color: #333;
}

.social-icon {
    width: 4em;
    height: 4em;
    border-radius: 50%;
    object-fit: cover;
    transition: transform 0.3s ease;
}

.social-icon-wpp {
    width: 5em;
    height: 5em;
    border-radius: 50%;
    object-fit: cover;
    transition: transform 0.3s ease;
}

.social-icon:hover,
.social-icon-wpp:hover {
    transform: scale(1.1);
}

.navbar-info {
    display: flex;
    align-items: center;
    color: #fff; 
    text-decoration: none;
    font-size: 1em;
}

.navbar-info img {
    width: 2em; 
    margin-right: 0.5em;
}

@media (max-width: 48em) {
    .main-image {
        max-height: 20em;
        border-radius: 1.5em;
    }

    .carousel-item {
        padding: 1.5em;
    }
}

@media (max-width: 30em) {
    .main-image {
        max-height: 15em;
    }

    .carousel-item {
        padding: 1em;
    }

    footer {
        padding: 0.5em;
        font-size: 0.9em;
    }
}
